@mixin modal {
  background-color: white;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px greenyellow;
}

#root-modal {
  background-color: rgb(236 234 234 / 30%);
  text-align: center;
  padding-top: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .form {
    @include modal;

    width: 350px;

    &__input-wrapper {
      position: relative;
    }

    &__input-box {
      margin-top: 15px;
      border-bottom: 1px solid grey;
      padding: 2px 15px;
    }

    &__input-text {
      &:focus {
        outline: 0;
      }
    }

    &__buttons {
      width: 100%;
      display: flex;
      flex-flow: column;
    }

    &__button {
      margin-top: 10px;
      background-color: none;

      &:hover {
        cursor: pointer;
      }
    }

    &__title {
      font-size: 25px;
      font-weight: bold;
    }

    &__error {
      position: absolute;
      left: 405px;
      width: 405px;
      color: red;
      bottom: -15px;
      text-align: left;

      &_disable{
        display: block;
      }

      &_enable {
        display: none;
      }
    }
  }
}

.main-chats-box {
  background-color: #c5ccdb;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-flow: column;

  .main__profile {
    margin: 10px 0;
  }

  .chat {
    height: 100px;
    display: flex;
    margin: 20px 15px;
    padding: 3px 7px;
    border-radius: 10px;
    background-color: beige;
    box-shadow: 2px 2px 5px forestgreen;

    &__message {
      margin: 0 5px;
      padding: 3px 7px;
      overflow: hidden;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        background: linear-gradient(180deg, transparent, rgb(245 245 220) 50%);
      }
    }
  }
}

#main-message {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  position: relative;

  .messages {
    display: flex;
    flex-flow: column;
    padding: 25px;
  }

  .main__header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
  }
}

.header {
  position: relative;

  &__modal {
    position: absolute;
    padding: 5px 10px;
    background-color: #eae1e1;
    border-radius: 8px;
    box-shadow: 2px 2px 5px forestgreen;
    right: 80px;
    top: 20px;
  }

  &__button {
    width: 30px;
    height: 30px;

    &:hover {
      cursor: pointer;
    }
  }

  &__image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  &__text {
    &:hover {
      cursor: pointer;
    }
  }
}

.small-modal {
  @include modal;

  .list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: column;
  }

  &_header {
    position: absolute;
    top: 10px;
    right: 150px;
  }

  &_footer {
    position: absolute;
    left: 50px;
    bottom: 50px;
  }

  .modal-img {
    margin: 5px 0;
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .modal-item {
    display: flex;
  }
}

.message {
  @include modal;

  &_outer {
    align-self: flex-end;
    background-color: antiquewhite;
    box-shadow: -2px -2px 5px red;
  }

  max-width: 50%;
  margin: 25px 5px;
}

.footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 15px 0;

  &__attache {
    margin: 0 auto;

    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    flex-basis: 90%;
    border: none;
    padding-left: 10px;

    &:focus {
      outline: 0;
      border: 1px solid blue;
    }

    &:blur {
      border: none;
    }
  }

  &__link {
    margin: 0 auto;

    &:hover {
      cursor: pointer;
    }
  }
}
