@mixin input{

  background-color: white;
  padding: 2px;
  position: absolute;
  top: -11px;
  left: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.form{
  width: 25%;
  margin: 0 auto;
  padding: 50px;
  background-color: white;
  box-shadow: 5px 5px 10px grey;
  border-radius: 5px;

  &__title{
    margin: 0 0 25px 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  &__input{
    position: relative;
    padding: 10px 0;
    border: 1px solid black;
    margin-bottom: 25px;

    &_email{
     &::before{
       @include input;
       content: 'Почта';
     }
   }
    &_login{
      &::before{
        @include input;
        content: 'Логин';
      }
    }

    &_name{
      &::before{
        @include input;
        content: 'Имя';
      }
    }
    &_second-name{
      &::before{
        @include input;
        content: 'Фамилия';
      }
    }
    &_phone{
      &::before{
        @include input;
        content: 'Телефон';
      }
    }
    &_password{
      &::before{
        @include input;
        content: 'Пароль';
      }
    }
    &_password-again{
      &::before{
        @include input;
        content: 'Пароль (еще раз)';
      }
    }
  }
  &__input-text{
    margin-left: 10px;
    background-color: white;
    &:focus{
      outline: 0;
      outline-offset: 0;

    }
  }
  &__buttons{
    margin-top: 25px;
    display: flex;
    flex-flow: column;
    align-content: center;
    a{
      text-decoration: none;
      text-align: center;
        }

  }


    &__button{
      border: none;
      border-radius: 5px;
      padding: 5px 0;
      width: 50%;
      margin: 0 auto;


      &:last-child{
        margin-top: 10px;

      }
      &_button{
        background-color: #3369f3;
        color: white;
      }
      &_link{
        background: none;
        color: #3369f3;
      }
  }
}

.image{
  &_settings
  {
    width: 150px;
    padding: 20px;
    border-radius: 50%;
  }}